<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <script src="https://cdn.jsdelivr.net/npm/v-mask@2.3.0/dist/v-mask.min.js"></script>
  </head>
  <style>
    .color_primary {
      color: #79b285;
    }
    .theme--light.v-label {
      color: black;
    }
    .v-input--radio-group legend.v-label {
      font-size: 16px;
    }
    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 0.5s ease;
    }

    .fade-enter-from,
    .fade-leave-to {
      opacity: 0;
    }
  </style>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-stepper v-model="step">
            <v-stepper-header>
              <v-stepper-step :complete="step > 1" step="1" color="primary">
                Услуга
              </v-stepper-step>

              <v-divider></v-divider>

              <v-stepper-step :complete="step > 2" step="2" color="primary">
                Дата и время
              </v-stepper-step>

              <v-divider></v-divider>

              <v-stepper-step :complete="step > 3" step="3" color="primary">
                Контакты
              </v-stepper-step>
            </v-stepper-header>

            <v-stepper-items>
              <v-stepper-content step="1">
                <v-card class="mb-12" flat>
                  <v-card-title
                    >Выберите услугу и забронируйте очередь онлайн</v-card-title
                  >
                  <v-card-text>
                    <v-form ref="formStep1" lazy-validation>
                      <v-row>
                        <v-col lg="4" md="4" sm="4" col="6">
                          <v-radio-group
                            v-model="form.category"
                            :rules="rules.category"
                          >
                            <template v-slot:label>
                              <div>Услуга</div>
                            </template>
                            <v-radio
                              label="Техосмотр"
                              value="Техосмотр"
                            ></v-radio>
                            <v-radio
                              label="Учет в ГИБДД"
                              value="Учет в ГИБДД"
                            ></v-radio>
                          </v-radio-group>
                        </v-col>
                        <v-col lg="4" md="4" sm="4" col="6">
                          <v-radio-group
                            v-model="form.typeCar"
                            :rules="rules.typeCar"
                          >
                            <template v-slot:label>
                              <div>Тип ТС</div>
                            </template>
                            <v-radio
                              label="Легковой автомобиль"
                              value="Легковой автомобиль"
                            ></v-radio>
                            <v-radio
                              label="Грузовой автомобиль"
                              value="Грузовой автомобиль"
                            ></v-radio>
                          </v-radio-group>
                        </v-col>
                        <v-col lg="4" md="4" sm="4" col="12">
                          <v-radio-group
                            v-model="form.address"
                            :rules="rules.address"
                          >
                            <template v-slot:label>
                              <div>Адрес</div>
                            </template>
                            <v-radio
                              label="Казань, ул. Заречная 3а (Константиновка) 1000 р."
                              value="Казань, ул. Заречная 3а (Константиновка) 1000 р."
                            ></v-radio>
                            <v-radio
                              label="Казань, ул. Проспект Победы 194 (ТТС) 1000 р."
                              value="Казань, ул. Проспект Победы 194 (ТТС) 1000 р."
                            ></v-radio>
                          </v-radio-group>
                        </v-col>
                      </v-row>
                    </v-form>
                  </v-card-text>
                </v-card>
                <v-btn color="primary" @click="nextStep(1,2)"> Далее </v-btn>
              </v-stepper-content>

              <v-stepper-content step="2">
                <v-card class="mb-12" flat>
                  <v-card-title>Выберите дату и время</v-card-title>
                  <v-card-subtitle
                    >Выберите желаемое время, чтобы продолжить бронирование
                    услуги:
                    <strong
                      >{{form.category}}. {{form.typeCar}}. По адресу:
                      {{form.address}}.</strong
                    >
                  </v-card-subtitle>
                  <v-card-text>
                    <v-form ref="formStep2" lazy-validation>
                      <v-row>
                        <v-col lg="4" md="6" sm="6" cols="12">
                          <v-date-picker
                            locale="ru-RU"
                            :show-current="false"
                            v-model="form.date"
                            class="mt-4"
                            :min="datePicker.min"
                            :max="datePicker.max"
                            full-width
                            :rules="rules.date"
                            @change="getTime(form.date)"
                            style="min-height: 400px"
                          ></v-date-picker>
                        </v-col>
                        <v-col lg="3" md="6" sm="6" cols="12">
                          <v-select
                            v-model="form.time"
                            label="Выберите время"
                            :items="timePicker.times"
                            :rules="rules.time"
                            :loading="loading"
                            :disabled="loading"
                          >
                            <template v-slot:no-data>
                              <v-list-item>
                                <v-list-item-title>
                                  Нет свободного времени.
                                  <strong>Выберите другой день</strong>
                                </v-list-item-title>
                              </v-list-item>
                            </template>
                          </v-select>
                        </v-col>
                      </v-row>
                    </v-form>
                  </v-card-text>
                </v-card>
                <v-btn text @click="step = 1" :disabled="loading">
                  Назад
                </v-btn>
                <v-btn
                  color="primary"
                  @click="nextStep(2,3)"
                  :loading="loading"
                >
                  Далее
                </v-btn>
              </v-stepper-content>

              <v-stepper-content step="3">
                <v-card class="mb-12" flat v-if="step === 3">
                  <v-card-title>Заполните контактные данные</v-card-title>
                  <v-card-subtitle
                    >Вы выбрали:
                    <strong>
                      {{form.category}}. {{form.typeCar}}. По адресу:
                      {{form.address}}. На {{form.date}} в
                      {{form.time}}.</strong
                    >
                  </v-card-subtitle>
                  <v-card-subtitle>
                    <strong>Стоимость услуги: {{form.price}} руб.</strong>
                  </v-card-subtitle>
                  <v-card-text>
                    <v-form ref="formStep3" lazy-validation v-if="!complited">
                      <v-row>
                        <v-col lg="4" md="6" sm="6" cols="12">
                          <v-text-field
                            v-model="form.name"
                            :rules="rules.name"
                            label="Имя"
                            required
                          ></v-text-field>
                        </v-col>
                        <v-col lg="4" md="6" sm="6" cols="12">
                          <v-text-field
                            v-model="form.phone"
                            :rules="rules.phone"
                            :counter="16"
                            label="Телефон"
                            v-mask="'+7(###)###-##-##'"
                            type="text"
                            placeholder="+7(___)___-__-__"
                            required
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-form>
                    <div v-else>
                      <v-alert type="success" max-width="450"
                        >Ваша заявка на бронирование принята!</v-alert
                      >
                    </div>
                  </v-card-text>
                </v-card>
                <v-btn text @click="step = 2" :disabled="loading || complited">
                  Назад
                </v-btn>

                <v-btn
                  color="primary"
                  @click="saveData(3)"
                  :loading="loading"
                  :disabled="complited"
                >
                  Записаться
                </v-btn>
              </v-stepper-content>
            </v-stepper-items>
          </v-stepper>
        </v-main>
        <v-snackbar color="primary" v-model="snackbar" :timeout="2000">
          {{ msg }}
        </v-snackbar>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script>
      new Vue({
        el: '#app',
        vuetify: new Vuetify({
          theme: {
            themes: {
              light: {
                primary: '#79b285',
              },
            },
          },
        }),
        data() {
          return {
            step: 1,
            datePicker: {
              min: null,
              max: null,
            },
            timePicker: {
              times: [],
            },
            form: {
              category: null,
              typeCar: null,
              address: null,
              price: null,
              date: null,
              time: null,
              phone: null,
              name: null,
            },
            rules: {
              category: [(v) => !!v || 'Выберите услугу'],
              typeCar: [(v) => !!v || 'Выберите тип ТС'],
              address: [(v) => !!v || 'Выберите адрес услуги'],
              date: [(v) => !!v || 'Выберите дату'],
              time: [(v) => !!v || 'Выберите время'],
              name: [(v) => !!v || 'Заполните имя'],
              phone: [
                (v) => !!v || 'Заполните телефон',
                (v) => (v && v.length >= 16) || 'Введите полный номер',
              ],
            },
            loading: false,
            complited: false,
            snackbar: false,
            msg: '',
            base_url: 'https://gospts.ru/wp-json/vue-quiz/v1',
          };
        },
        watch: {
          'form.address'(val) {
            switch (val) {
              case 'Казань, ул. Заречная 3а (Константиновка) 1000 р':
                this.form.price = 1000;
                break;
              default:
                this.form.price = 1000;
            }
          },
        },
        methods: {
          async nextStep(from, to) {
            if (this.validate(from)) {
              if (from === 2 && to === 3) {
                if (await this.checkTime(this.form.date, this.form.time)) {
                  this.step = to;
                }
              } else {
                this.step = to;
              }
            }
          },
          validate(from) {
            return this.$refs[`formStep${from}`].validate();
          },
          /** Получении доступного времени */
          getTime(date) {
            this.loading = true;
            this.form.date = date;

            fetch(`${this.base_url}/getFreeTime`, {
              method: 'POST',
              headers: { 'Content-Type': 'application/json;charset=utf-8' },
              body: JSON.stringify({ date }),
            })
              .then((res) => {
                res.json().then((data) => {
                  this.timePicker.times = data;
                });
              })
              .finally(() => {
                this.loading = false;
              });
          },
          /** Проверки выбранного времени */
          async checkTime(date, time) {
            this.loading = true;
            let result = false;
            await fetch(`${this.base_url}/checkTime`, {
              method: 'POST',
              headers: { 'Content-Type': 'application/json;charset=utf-8' },
              body: JSON.stringify({ date, time }),
            })
              .then(async (res) => {
                await res.json().then((data) => {
                  if (data.avail) {
                    result = true;
                  } else {
                    this.msg = 'Пожалуйста, выберите другое время';
                    this.snackbar = true;
                    this.getTime(date);
                  }
                });
              })
              .finally(() => {
                this.loading = false;
              });
            return result;
          },
          saveData(step) {
            if (this.validate(step)) {
              this.loading = true;
              fetch(`${this.base_url}/setData`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json;charset=utf-8' },
                body: JSON.stringify(this.form),
              })
                .then((res) => {
                  res.json().then((data) => {
                    if (data.success) {
                      this.complited = true;
                    } else {
                      this.snackbar = true;
                      this.complited = false;
                      this.msg = 'Попробуйте позднее';
                    }
                  });
                })
                .finally(() => {
                  this.loading = false;
                });
            } else {
              return false;
            }
          },
        },
        created() {
          this.datePicker.min = new Date().toISOString().substr(0, 10);
          let nextYearDate = new Date();
          nextYearDate.setFullYear(nextYearDate.getFullYear() + 1);
          this.datePicker.max = nextYearDate.toISOString().substr(0, 10);
        },
        mounted() {
          this.getTime(
            new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
              .toISOString()
              .substr(0, 10)
          );
        },
      });
      Vue.directive('mask', VueMask.VueMaskDirective);
    </script>
  </body>
  <style>
    #app label {
      font-weight: normal;
      margin-bottom: auto;
    }
    #app button {
      padding: 0;
    }
    #app input[type='text'] {
      background: none;
      background-image: none;
      border: 0;
      border-radius: 0;
    }
    #app .v-date-picker-title__date {
      font-size: 26px;
    }
  </style>
</html>
